ul {
  list-style: none;
}
.link-item {
  display: inline;
  margin: 10px;
  padding: 18px;
}
.container {
  border: 2px rosybrown dashed;
  padding: 8px;
  margin: 10px;
}
.nav-link:link{
    text-decoration: none;
}
.nav-link:active {
  text-decoration: none;
  color: brown;
  /* transition: 0.3s all ease; */
}
a:visited{
    color: rosybrown;
}
.nav-link:hover {
  text-decoration: underline wavy orangered;
}
.user-info {
  display: flex;
  justify-content: space-evenly;
}
.more-info {
  border-radius: 5px;
  background-color: rosybrown;
  box-shadow: blueviolet 2px 3px;
  font-size: 1.1em;
}
.more-info:hover {
  cursor: pointer;
}


#backdrop{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left : 0;
    top : 0;
    width: 100vw;
    height: 100vh;
    z-index: 50%;
}

#modal{
    background-color: white;
    position: fixed;
    margin-left : 33vw;
    width: 33vw;
    margin-top: 33vh;
    height: 33vh;
    z-index: 70%;
}

.main-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}